In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
Meteorite_Landings.csv	test.csv  test.hdf  test.json  test.pkl  test.xlsx

In [4]:
df_meteorites = pd.read_csv('Meteorite_Landings.csv')
df_meteorites.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [5]:
df_meteorites.tail()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939.0,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.98333, -115.68333)"

In [6]:
df_meteorites.sample(10)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
7286,Dhofar 148,6933,Valid,L6,5432.00,Found,2000.0,18.32167,54.481000,"(18.32167, 54.481)"
14231,Grove Mountains 022157,46863,Valid,L6,15.36,Found,2003.0,-72.77889,75.313610,"(-72.77889, 75.31361)"
14378,Grove Mountains 022389,47963,Valid,L6,4.56,Found,2003.0,-72.77500,75.331389,"(-72.775, 75.331389)"
8596,Dominion Range 08151,53970,Valid,LL6,18.50,Found,2008.0,0.00000,0.000000,"(0.0, 0.0)"
38390,Wynyard,24344,Valid,H5,3479.00,Found,1968.0,51.88333,-104.183330,"(51.88333, -104.18333)"
24050,Meteorite Hills 96530,16589,Valid,LL6,36.60,Found,1996.0,-79.68333,159.750000,"(-79.68333, 159.75)"
7494,Dhofar 1689,56195,Valid,H5,22.30,Found,2011.0,18.18800,54.269800,"(18.188, 54.2698)"
27610,Northwest Africa 2573,33094,Valid,L5,224.10,Found,2003.0,0.00000,0.000000,"(0.0, 0.0)"
13332,Grosvenor Mountains 95560,11288,Valid,H6,233.70,Found,1995.0,-85.66667,175.000000,"(-85.66667, 175.0)"
13056,Grosvenor Mountains 03021,34577,Valid,L5,607.90,Found,2003.0,NaN,NaN,NaN

In [7]:
df_meteorites.shape

(45716, 10)

In [8]:
df_meteorites.size

457160

In [9]:
df_meteorites.describe()

                 id      mass (g)          year        reclat       reclong
count  45716.000000  4.558500e+04  45425.000000  38401.000000  38401.000000
mean   26889.735104  1.327808e+04   1991.828817    -39.122580     61.074319
std    16860.683030  5.749889e+05     25.052766     46.378511     80.647298
min        1.000000  0.000000e+00    860.000000    -87.366670   -165.433330
25%    12688.750000  7.200000e+00   1987.000000    -76.714240      0.000000
50%    24261.500000  3.260000e+01   1998.000000    -71.500000     35.666670
75%    40656.750000  2.026000e+02   2003.000000      0.000000    157.166670
max    57458.000000  6.000000e+07   2101.000000     81.166670    354.473330

In [10]:
pd.options.display.float_format = '{:,.1f}'.format

In [11]:
df_meteorites.describe(include='all')

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
count,45716,"45,716.0",45716,45716,"45,585.0",45716,"45,425.0","38,401.0","38,401.0",38401
unique,45716,NaN,2,466,NaN,2,NaN,NaN,NaN,17100
top,Aachen,NaN,Valid,L6,NaN,Found,NaN,NaN,NaN,"(0.0, 0.0)"
freq,1,NaN,45641,8285,NaN,44609,NaN,NaN,NaN,6214
mean,NaN,"26,889.7",NaN,NaN,"13,278.1",NaN,"1,991.8",-39.1,61.1,NaN
std,NaN,"16,860.7",NaN,NaN,"574,988.9",NaN,25.1,46.4,80.6,NaN
min,NaN,1.0,NaN,NaN,0.0,NaN,860.0,-87.4,-165.4,NaN
25%,NaN,"12,688.8",NaN,NaN,7.2,NaN,"1,987.0",-76.7,0.0,NaN
50%,NaN,"24,261.5",NaN,NaN,32.6,NaN,"1,998.0",-71.5,35.7,NaN
75%,NaN,"40,656.8",NaN,NaN,202.6,NaN,"2,003.0",0.0,157.2,NaN
max,NaN,"57,458.0",NaN,NaN,"60,000,000.0",NaN,"2,101.0",81.2,354.5,NaN

In [12]:
df_meteorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  float64
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

In [13]:
df_meteorites.convert_dtypes().dtypes

name            string
id               Int64
nametype        string
recclass        string
mass (g)       Float64
fall            string
year             Int64
reclat         Float64
reclong        Float64
GeoLocation     string
dtype: object

In [14]:
df_meteorites.nunique() # para saber la variabilidad de los datos que conforman el dataframe

name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             265
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

In [15]:
df_meteorites[['fall', 'nametype']].astype('category')

        fall nametype
0       Fell    Valid
1       Fell    Valid
2       Fell    Valid
3       Fell    Valid
4       Fell    Valid
...      ...      ...
45711  Found    Valid
45712  Found    Valid
45713  Found    Valid
45714  Found    Valid
45715  Found    Valid

[45716 rows x 2 columns]

In [16]:
df_meteorites[['fall', 'nametype']]=df_meteorites[['fall', 'nametype']].astype('category')
df_meteorites.dtypes

name             object
id                int64
nametype       category
recclass         object
mass (g)        float64
fall           category
year            float64
reclat          float64
reclong         float64
GeoLocation      object
dtype: object

In [17]:
df_meteorites['fall'].unique()

['Fell', 'Found']
Categories (2, object): ['Fell', 'Found']

In [18]:
df_meteorites['fall'].value_counts()

Found    44609
Fell      1107
Name: fall, dtype: int64

In [19]:
pd.get_dummies(df_meteorites['fall']) # convertir a varaible dummy (pasa de textoa numero)

       Fell  Found
0         1      0
1         1      0
2         1      0
3         1      0
4         1      0
...     ...    ...
45711     0      1
45712     0      1
45713     0      1
45714     0      1
45715     0      1

[45716 rows x 2 columns]

In [20]:
df_meteorites['one']=1
df_meteorites

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,one
0,Aachen,1,Valid,L5,21.0,Fell,"1,880.0",50.8,6.1,"(50.775, 6.08333)",1
1,Aarhus,2,Valid,H6,720.0,Fell,"1,951.0",56.2,10.2,"(56.18333, 10.23333)",1
2,Abee,6,Valid,EH4,"107,000.0",Fell,"1,952.0",54.2,-113.0,"(54.21667, -113.0)",1
3,Acapulco,10,Valid,Acapulcoite,"1,914.0",Fell,"1,976.0",16.9,-99.9,"(16.88333, -99.9)",1
4,Achiras,370,Valid,L6,780.0,Fell,"1,902.0",-33.2,-65.0,"(-33.16667, -64.95)",1
...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,"1,990.0",29.0,17.0,"(29.037, 17.0185)",1
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,"1,999.0",13.8,9.0,"(13.78333, 8.96667)",1
45713,Zlin,30410,Valid,H4,3.3,Found,"1,939.0",49.2,17.7,"(49.25, 17.66667)",1
45714,Zubkovsky,31357,Valid,L6,"2,167.0",Found,"2,003.0",49.8,41.5,"(49.78917, 41.5046)",1
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,"1,976.0",34.0,-115.7,"(33.98333, -115.68333)",1

In [21]:
df_meteorites[['fell', 'found']]= pd.get_dummies(df_meteorites['fall']) # para agregar las columnas y unirlo con las variables dummys
df_meteorites

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,one,fell,found
0,Aachen,1,Valid,L5,21.0,Fell,"1,880.0",50.8,6.1,"(50.775, 6.08333)",1,1,0
1,Aarhus,2,Valid,H6,720.0,Fell,"1,951.0",56.2,10.2,"(56.18333, 10.23333)",1,1,0
2,Abee,6,Valid,EH4,"107,000.0",Fell,"1,952.0",54.2,-113.0,"(54.21667, -113.0)",1,1,0
3,Acapulco,10,Valid,Acapulcoite,"1,914.0",Fell,"1,976.0",16.9,-99.9,"(16.88333, -99.9)",1,1,0
4,Achiras,370,Valid,L6,780.0,Fell,"1,902.0",-33.2,-65.0,"(-33.16667, -64.95)",1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,"1,990.0",29.0,17.0,"(29.037, 17.0185)",1,0,1
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,"1,999.0",13.8,9.0,"(13.78333, 8.96667)",1,0,1
45713,Zlin,30410,Valid,H4,3.3,Found,"1,939.0",49.2,17.7,"(49.25, 17.66667)",1,0,1
45714,Zubkovsky,31357,Valid,L6,"2,167.0",Found,"2,003.0",49.8,41.5,"(49.78917, 41.5046)",1,0,1
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,"1,976.0",34.0,-115.7,"(33.98333, -115.68333)",1,0,1

In [22]:
df_meteorites['year']

0       1,880.0
1       1,951.0
2       1,952.0
3       1,976.0
4       1,902.0
          ...
45711   1,990.0
45712   1,999.0
45713   1,939.0
45714   2,003.0
45715   1,976.0
Name: year, Length: 45716, dtype: float64

In [23]:
pd.to_datetime(df_meteorites['year'], errors='coerce', format='%m/%d/%Y:%H:%M:%S %p')

0       NaT
1       NaT
2       NaT
3       NaT
4       NaT
         ..
45711   NaT
45712   NaT
45713   NaT
45714   NaT
45715   NaT
Name: year, Length: 45716, dtype: datetime64[ns]

In [24]:
df_meteorites.rename(columns={'mass (g)': 'mass'}, inplace=True) para cambiar el nombre de las columnas
df_meteorites

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,one,fell,found
0,Aachen,1,Valid,L5,21.0,Fell,"1,880.0",50.8,6.1,"(50.775, 6.08333)",1,1,0
1,Aarhus,2,Valid,H6,720.0,Fell,"1,951.0",56.2,10.2,"(56.18333, 10.23333)",1,1,0
2,Abee,6,Valid,EH4,"107,000.0",Fell,"1,952.0",54.2,-113.0,"(54.21667, -113.0)",1,1,0
3,Acapulco,10,Valid,Acapulcoite,"1,914.0",Fell,"1,976.0",16.9,-99.9,"(16.88333, -99.9)",1,1,0
4,Achiras,370,Valid,L6,780.0,Fell,"1,902.0",-33.2,-65.0,"(-33.16667, -64.95)",1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,"1,990.0",29.0,17.0,"(29.037, 17.0185)",1,0,1
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,"1,999.0",13.8,9.0,"(13.78333, 8.96667)",1,0,1
45713,Zlin,30410,Valid,H4,3.3,Found,"1,939.0",49.2,17.7,"(49.25, 17.66667)",1,0,1
45714,Zubkovsky,31357,Valid,L6,"2,167.0",Found,"2,003.0",49.8,41.5,"(49.78917, 41.5046)",1,0,1
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,"1,976.0",34.0,-115.7,"(33.98333, -115.68333)",1,0,1

In [25]:
list(df_meteorites) #nombre de las columnas

['name',
 'id',
 'nametype',
 'recclass',
 'mass',
 'fall',
 'year',
 'reclat',
 'reclong',
 'GeoLocation',
 'one',
 'fell',
 'found']

In [29]:
df_meteorites.drop(['one'], axis=1, inplace=True ) #borrar columna

In [31]:
df_meteorites.drop([0,2,4,6]) #borrar filas

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,fell,found
1,Aarhus,2,Valid,H6,720.0,Fell,"1,951.0",56.2,10.2,"(56.18333, 10.23333)",1,0
3,Acapulco,10,Valid,Acapulcoite,"1,914.0",Fell,"1,976.0",16.9,-99.9,"(16.88333, -99.9)",1,0
5,Adhi Kot,379,Valid,EH4,"4,239.0",Fell,"1,919.0",32.1,71.8,"(32.1, 71.8)",1,0
7,Agen,392,Valid,H5,"30,000.0",Fell,"1,814.0",44.2,0.6,"(44.21667, 0.61667)",1,0
8,Aguada,398,Valid,L6,"1,620.0",Fell,"1,930.0",-31.6,-65.2,"(-31.6, -65.23333)",1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,"1,990.0",29.0,17.0,"(29.037, 17.0185)",0,1
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,"1,999.0",13.8,9.0,"(13.78333, 8.96667)",0,1
45713,Zlin,30410,Valid,H4,3.3,Found,"1,939.0",49.2,17.7,"(49.25, 17.66667)",0,1
45714,Zubkovsky,31357,Valid,L6,"2,167.0",Found,"2,003.0",49.8,41.5,"(49.78917, 41.5046)",0,1
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,"1,976.0",34.0,-115.7,"(33.98333, -115.68333)",0,1

In [33]:
df_meteorites.drop(columns= ['id', 'recclass'], index=[0,2,4,6]) #borrar filas y columnas

,name,nametype,mass,fall,year,reclat,reclong,GeoLocation,fell,found
1,Aarhus,Valid,720.0,Fell,"1,951.0",56.2,10.2,"(56.18333, 10.23333)",1,0
3,Acapulco,Valid,"1,914.0",Fell,"1,976.0",16.9,-99.9,"(16.88333, -99.9)",1,0
5,Adhi Kot,Valid,"4,239.0",Fell,"1,919.0",32.1,71.8,"(32.1, 71.8)",1,0
7,Agen,Valid,"30,000.0",Fell,"1,814.0",44.2,0.6,"(44.21667, 0.61667)",1,0
8,Aguada,Valid,"1,620.0",Fell,"1,930.0",-31.6,-65.2,"(-31.6, -65.23333)",1,0
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,Valid,172.0,Found,"1,990.0",29.0,17.0,"(29.037, 17.0185)",0,1
45712,Zinder,Valid,46.0,Found,"1,999.0",13.8,9.0,"(13.78333, 8.96667)",0,1
45713,Zlin,Valid,3.3,Found,"1,939.0",49.2,17.7,"(49.25, 17.66667)",0,1
45714,Zubkovsky,Valid,"2,167.0",Found,"2,003.0",49.8,41.5,"(49.78917, 41.5046)",0,1
45715,Zulu Queen,Valid,200.0,Found,"1,976.0",34.0,-115.7,"(33.98333, -115.68333)",0,1

In [35]:
df = df_meteorites.copy(deep=True)
df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,fell,found
0,Aachen,1,Valid,L5,21.0,Fell,"1,880.0",50.8,6.1,"(50.775, 6.08333)",1,0
1,Aarhus,2,Valid,H6,720.0,Fell,"1,951.0",56.2,10.2,"(56.18333, 10.23333)",1,0
2,Abee,6,Valid,EH4,"107,000.0",Fell,"1,952.0",54.2,-113.0,"(54.21667, -113.0)",1,0
3,Acapulco,10,Valid,Acapulcoite,"1,914.0",Fell,"1,976.0",16.9,-99.9,"(16.88333, -99.9)",1,0
4,Achiras,370,Valid,L6,780.0,Fell,"1,902.0",-33.2,-65.0,"(-33.16667, -64.95)",1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,"1,990.0",29.0,17.0,"(29.037, 17.0185)",0,1
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,"1,999.0",13.8,9.0,"(13.78333, 8.96667)",0,1
45713,Zlin,30410,Valid,H4,3.3,Found,"1,939.0",49.2,17.7,"(49.25, 17.66667)",0,1
45714,Zubkovsky,31357,Valid,L6,"2,167.0",Found,"2,003.0",49.8,41.5,"(49.78917, 41.5046)",0,1
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,"1,976.0",34.0,-115.7,"(33.98333, -115.68333)",0,1